__pycache__/
*.py[cod]
*$py.class

dist/
.coverage
.gitlab-ci-local/
.gitlab-ci-local-variables.yml
requirements.txt
requirements-dev.txt
/ci/cache/
/ci/pip-repo/
/ci/venv/
version.env
package-version.env
*.db

cidr-blocks.json
neighbors.json
exabgp.conf
ddam-test.sh